.browser {
    -fx-skin: "com.zenjava.jfxflow.control.BrowserSkin";
}

.browser-content {
    -fx-padding: 0;
}

.browser-content .scroll-pane {
    -fx-fit-to-width: true;
    -fx-pannable: true;
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.browser-content .title {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.browser-content .subtitle {
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.browser-content .message {
    -fx-wrap-text: true;
}

.browser-content .hyperlink,
.browser-content .hyperlink:visited {
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: #1e598e;
}

.browser-content .unordered-list {
    -fx-padding: 10 20 10 20;
}

.browser-content .description {
    -fx-wrap-text: true;
}

.browser-content .unordered-list .label {
    -fx-graphic: url("../images/bullet_blue.png");
}


.page {
    -fx-padding: 20;
}

.diagram {
    -fx-padding: 30;
}

.threading .action-area {
    -fx-background-color: #ffc;
    -fx-background-radius: 6;
    -fx-padding: 10;
}

.dialogs .warning {
    -fx-background-color: #fee;
    -fx-background-radius: 6;
    -fx-border-color: #c99;
    -fx-border-radius: 6;
    -fx-padding: 10;
    -fx-wrap-text: true;
}

.custom-transition-example #label2,
.custom-transition-example #label4,
.custom-transition-example #label6,
.custom-transition-example #label8
{
    -fx-padding: 10;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.custom-transition-example #label9
{
    -fx-padding: 10;
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

