.browser-content {
    -fx-padding: 0;
}

.browser-content .scroll-pane {
    -fx-fit-to-width: true;
    -fx-pannable: true;
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.browser-content .title {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10 0;
}

.browser-content .message {
    -fx-padding: 0 0 20 0;
    -fx-wrap-text: true;
}


.page {
    -fx-padding: 20;
}

.home .hyperlink {
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-accent;
}

.home .description {
    -fx-padding: 20 40 20 40;
    -fx-wrap-text: true;
}

.diagram {
    -fx-padding: 100;
}

.diagram .callout {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-background-color: #ffa;
    -fx-background-radius: 6;
    -fx-border-color: #aaa;
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-effect: dropshadow(two-pass-box , rgba(100, 100, 100, 0.4), 1, 0.0 , 0, 1);
}
